
<%- include('include/_header') %>
<main>
    <a href="/">
      All User
    </a>

    <div>
        <h2>New User</h2>
        <h3>Create New Account</h3>

    </div>
    <%- include('include/_form') %>
</main>
<%- include('include/_footer') %>