<%- include('include/_header') %>
    <main>
        <a href="/">
            All User
        </a>

        <div>
            <h2>Update User</h2>
            <h3>Update an Account</h3>

        </div>
        <form id="update_user" method="post">
            <label>Name</label>
            <input type="text" id="name" name="name" required>
            <input type="text" id="" value="" placeholder="John">

            <label>Email</label>
            <input type="text" id="name" name="name" required>
            <input type="email" id="" value="" placeholder="John@gmail.com">
        </form>
    </main>
    <%- include('include/_footer') %>